.main-content {
  height: 100%;
  width: 80vw;
  max-width: 1350px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr;
  column-gap: 10vw;
}

@media screen and (max-width: 600px) {
  .main-content {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    width: auto;
  }
}

@media screen and (max-width: 1200px) {
  .main-content {
    column-gap: 4vw;
  }
}
