.destination-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .destination-photo > img {
    width: 170px;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .destination-photo > img {
    width: 300px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .destination-photo {
    justify-content: flex-start;
  }

  .destination-photo > img {
    width: 350px;
  }
}

.destination-details {
  margin-top: 6rem;
}

@media screen and (max-width: 600px) {
  .destination-details {
    margin-top: 1.5rem;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .destination-details {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .destination-details {
    margin-top: 8rem;
  }
}
