.App {
  /* height: 100vh; */
  font-family: "Bellefair", serif;
}

@media screen and (max-width: 600px) {
  .App {
    /* min-height: 100vh; */
    min-height: -webkit-fill-available;
    max-height: fit-content;
  }
}
